@tailwind base;
html {
    font-size: 14px;
}

h1 {
    @apply text-5xl font-bold mb-2 text-secondary;
}

h2 {
    @apply text-4xl font-bold mb-2 text-secondary;
}

h3 {
    @apply text-lg font-semibold text-primary mb-2;
}

h4 {
    @apply text-base;
}

h5 {
    @apply font-bold;
}

@tailwind components;
.container {
    @apply px-6 md:px-0;
}

.dropzone {
    margin-bottom: 20px;
    min-height: auto;
}

.img-wrapper img:hover {
    @apply scale-125;
}

.divider {
    @apply my-6 border-b border-primary w-2/12 mx-auto;
}

.btn {
    @apply px-3 py-2 border-transparent border-2 font-medium rounded inline-block cursor-pointer transition ease-out duration-200;
}

.btn-primary {
    @apply bg-primary text-white;
}

.btn-primary:hover {
    @apply bg-white text-primary border-primary;
}

.btn-white {
    @apply bg-white text-primary;
}

.btn-white:hover {
    @apply bg-primary text-white border-white;
}

.btn-dropdown {
    @apply px-3 py-6 block text-center text-4xl font-bold;
    &:hover {
        @apply text-primary underline;
    }
}

.breadcrumb {
    @apply inline;
}

.kv-skill-item {
    @apply p-6 flex items-center;
}

@tailwind utilities;
.scale {
    transition: all ease-in 200ms;
}

.scale:hover {
    transform: scale(1.1);
}

.kv-hero-section {
    height: calc(100vh - 75px);
}

#kv-hero-k {
    position: absolute;
    bottom: 10%;
    left: 20%;
    height: 600px;
}

#kv-hero-v {
    position: absolute;
    left: 25%;
    bottom: 18%;
    height: 500px;
}

.kv-title {
    font-size: 4rem;
}

#kv-portfolio {
    min-height: 600px;
}

@media screen and (min-width: 600px) {
    .kv-title {
        font-size: 6rem;
    }
}
