// presets
$primary-color: #AF1B1B;
$secondary-color: #575757;
$third-color: #999999;


// html tags
body {
	margin:0px;
}
nav, footer {
	background-color: $third-color;
}
ul li {
	display: inline-block;
}
.row {
	max-width: 100%;
}


// nav css
nav {
	.row {
		justify-content: space-between;
	}
	.main-nav {
	
		// active page -- t
		.active {
			font-weight: bold;
			color: $primary-color;
		}
		a {
			color: white;
		}
		a:hover {
			text-decoration:underline;
			color: $primary-color;
		}
	}
}



// home page css

// main page portfolio items
.main-featured{
	justify-content: space-between;

	 .column{
	background-color: $secondary-color;
	}
}



// footer css

footer { 
	p {
		margin-bottom: 0px;
	}
}



