// import all custom variables and mixins
@use 'variables';

// home page css

//home header
.home-header{
	h2{
		font-family: 'Source Code Pro', monospace;
		
		span{
			color: $sec-color;
		}
	}
}
// call to action homepage
.main-cta{
	position: relative;
}
#main-cta-button{
	position: absolute;
	bottom:0;
	right:0;
}

// main page portfolio items
.content-section{
	padding: 3rem 0;
}

.main-featured{
	justify-content: space-between;

	.column{
		cursor: pointer;
		.featured-port-item{
			border: 1px solid $prim-color;
		}
		.featured-img-wrap{
			img{
				max-width:100%;
				transition: transform .2s; /* Animation */
			}
		}
		.featured-content{
			padding:1rem 1rem 0 1rem;
			h5{
				display:block;
			}
		}
	}
}


// media query
@media only screen and (max-width: 640px) {
	.main-cta div{
		position:static;
	}
}





// Portfolio page
.port-row{
	justify-content: space-between;
	padding: 2rem 0;
	.port-item{
		cursor: pointer;
		max-height:250px;
		.featured-img-wrap{
			border:1px solid $prim-color;
			height:100%;
			width: 100%;
			overflow: hidden;
			padding:1rem;
			display: flex;
			justify-content: center;
			img{
				height: 99%;
				max-width: none;
			}
		}
	}
}


// overmij page
.info-contact{
	justify-content: center;
}
.info-skill, .info-intro{
	.column-33 {
		display:flex;
		justify-content: center;	
	}
}
.info-skill{
	padding-bottom: 2rem;
}
	
.skills {
	ul {
		list-style: none;
		li {
			margin-bottom: 0;
			span {
				display: inline-block;
				width:150px;
				color: $sec-color;
				font-weight: bold;
			}
		}
	}
}

.info-contact{
	ul{
		list-style: none;
		.pict{	
			a{
				display: flex;
				align-items: center;
				color: $prim-color;
				font-size: 1.6rem;
				span{
					padding-left:2rem;
				}
				svg{
					height:30px;
					width:30px;
					fill:$prim-color;
				}
				&:hover svg{
					fill:$third-color;
					transition: 0.2s;
				}
				&:hover{
					text-decoration: underline;
					color: $third-color;
				}
			}
		}
	}
} 