// import all custom variables and mixins
@use 'variables';

// home page css

//home header
.home-header{
	h2{
		font-family: 'Source Code Pro', monospace;
		
		span{
			color: $sec-color;
		}
	}
}
// call to action homepage
.main-cta{
	position: relative;
}
.main-cta div{
	position:absolute;
	right: 0;
	bottom:3.5rem;
}

// main page portfolio items
.content-section{
	padding: 3rem 0;
}

.main-featured{
	justify-content: space-between;

	.column{
		cursor: pointer;

		.featured-img-wrap{
			img{
				max-width:100%;
				transition: transform .2s; /* Animation */
			}
		}
		.featured-content{
			padding:1rem 1rem 0 1rem;
			h5{
				display:block;
			}
		}
	}
}


// media query
@media only screen and (max-width: 640px) {
	.main-cta div{
		position:static;
	}
}





// Portfolio page
.port-row{
	justify-content: space-between;
	padding: 2rem 0;
	.port-item{
		height:200px;
		background-color: $prim-color;
	}
}





// overmij page-
.info-contact{
	justify-content: center;
}

.skills {
	ul {
		list-style: none;
		li {
			margin-bottom: 0;
			span {
				display: inline-block;
				width:150px;
				color: $sec-color;
				font-weight: bold;
			}
		}
	}
}

.info-contact{
	ul{
		list-style: none;
		.pict{	
			a{
				display: flex;
				align-items: center;
				color: $prim-color;
				font-size: 1.6rem;
				span{
					padding-left:2rem;
				}
				svg{
				height:50px;
				width:50px;
				fill:$prim-color;
				}
				&:hover svg{
					fill:$third-color;
					transition: 0.2s;
				}
				&:hover{
					text-decoration: underline;
					color: $third-color;
				}
			}

			
		}
	}
} 