<template>
    <div class="py-4 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-5 gap-4">
        <div v-for="(item, index) in items" :key='index' class="has-hover rounded relative cursor-pointer shadow aspect-square">
            <a class="port-item" :href="'/portfolio/' + item.id + '/show'">
                <div
                    class="content-overlay rounded absolute inset-0 bg-primary w-full h-full opacity-0 transition-all duration-200 ease-in-out"></div>
                <div
                    class="-translate-y-1/2 -translate-x-1/2 content-details text-white absolute text-center px-1 opacity-0 w-full transition-all duration-300 ease-in-out">
                    <p class="mb-2 text-lg font-bold">{{ item.title }}</p>
                    <p>Klik voor meer info</p>
                </div>
                <img :src="'/img/thumbnails/'+item.thumb" class="content-img h-full max-w-auto object-contain"/>

            </a>
        </div>
    </div>
</template>

<script>

export default {
    name: 'featured',
    props: {
        items: Array
    },
}
</script>

<style lang="scss">
@media only screen and (max-width: 600px) {
  .port-item, .content-img {
    min-height: 350px;
  }
}

.content-details {
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.has-hover:hover .content-overlay {
    opacity: 1;
}

.has-hover:hover .content-details {
    top: 50%;
    opacity: 1;
}
</style>
